*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.col-1-2 {
  width: 50%;
}
.row-space{
  padding: 20px 0 29px 20px;
        /*top right buttom left*/
}

.none-on-mobile{
  display: none;
}
.row-space > [class*='col-']:last-of-type {
  padding-right: 20px;
}
[class*='col-']{
  float: left;
}
[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
@media (min-width: 480px) {
  .col-1-3{
      width: 33.33%;
  }
  .row-space{
    padding: 20px 0 20px 40px;
          /*top right buttom left*/
  }
  [class*='col-']:nth-child(3){
    display: none;
  }
  .row-space > [class*='col-']:last-of-type {
    padding-right: 40px;
  }
  [class*='col-']{
    float: left;
  }
  [class*='col-'] {
    padding-right: 40px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
}
@media (min-width: 1024px) {

  .col-1-4{
    width: 25%;
  }
  .row-space{
    padding: 60px 0 20px 60px;
          /*top right buttom left*/
  }
  [class*='col-']:nth-child(3),
  [class*='col-']:nth-child(4){
    display: block;
  }
  .row-space > [class*='col-']:last-of-type {
    padding-right: 60px;
  }
  [class*='col-']{
    float: left;
  }
  [class*='col-'] {
    padding-right: 60px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
}
